.App {
  text-align: center;
}

.home-wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 8fr;
  grid-gap: 1em;
}

.nav {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.home-image {
  background-image: ;
}

#home-video {
  position: fixed;
  
}