.App {
  text-align: center;
}

body {
  height: 100vh;
  width: 100vw;
}

html {
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
}

img {
  height: 30vh; 
  width: 30vw;
}

h3 {
  margin: auto;
  padding: 5px;
}

.wrapper {
  height: 100vh; 
  width: 100%;
}


.home-wrapper {
  height: 100vh; 
  /* width: 100%;  */
  background-image: url('images/IMG_0513.jpeg');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home-page-gif {
  height: 100%;
  width: 100%; 
}

.homepage-login {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.homepage-login-button {
  margin-bottom: calc(2rem + 10vh);
}

.login-inputs {
  border-radius: 10px;
  height: 15%;
  border: none;
  box-shadow: 3px 3px rgb(75, 75, 75);
  align-items: center;
}

.login-button {
  display: flex;
  flex-direction: column;
  /* margin: auto !important; */
  /* margin-top: 100px; */
  height: calc(3rem + 0.5vh);
  width: calc(5rem + 3vw);
  cursor: pointer;
  color: rgb(0, 0, 0);
  border-radius: 5em;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(3, 3, 3);
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  align-items: center;
  justify-content: center;
}

#login-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.login-button-text {
  background: rgb(7, 7, 7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.nav-wrapper {
  position: sticky;
}

.nav {
  display: grid;
  position: sticky;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: "Permanent Marker";
  font-size: 25px;
  text-align: center;
  height: calc(1.5rem + 3vh);
  width: 100vw;
  z-index: 1;
  bottom: 0;
  background: rgb(12, 12, 12);;
}

.nav-login {
  display: grid;
  position: fixed;
  grid-template-columns: 1fr;
  font-family: "Permanent Marker";
  font-size: 25px;
  text-align: center;
  background: white;
  height: 8vh;
  width: 100%;
  z-index: 1;
  background: rgb(12, 12, 12);;
  bottom: 0;
}

#home {
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(13, 0, 255), 0 0 5px rgb(4, 33, 255);
}

#away {
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(255, 132, 0), 0 0 5px rgb(255, 121, 4);
}

.ja-dances{
  height: 7vh;
  width: 7vw;
}

.login-wrapper{
  display: grid;
  height: 100%;
  width: 100%;
  background: black;
}


.login-form-box {
  border: solid white;
  height: 100%;
  width: 40%;
  margin: 0 auto;
  top: 25%;
  text-align: center;
  justify-content: space-evenly;
  color: black;
  background-color: white;
  border-radius: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: solid rgb(58, 58, 58);
  border-radius: 10px 10px;
  border-width: 3px;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  background: black;
  height: 30%;
  width: 75%;
  color: white;
}

#password-label {
  color: orangered;
  margin: auto;
}

#username-label {
  color: blue;
}

.login-inputs {
  width: 75%;
}


.animated-gif {
  
  background: rgb(205, 205, 205) url(https://media4.giphy.com/media/fAQHjEYDT9GweWIcBq/giphy.gif) no-repeat center center;
}

#opt-signup {
  color: rgb(216, 216, 216);
}

#opt-discover {
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: auto;
  font: rgb(255, 102, 0);
}

#opt-logo {
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: auto;
  font: Navy;
}

#opt-home-court {
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: auto;
  font: rgb(255, 102, 0);
}

#opt-logout {
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: auto;
  font: Blue;
}

.discover-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .1fr 1fr;
  background: black;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.filter-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#search-input {
  height: 50%;
  width: 75%; 
}

.borough-select {
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: 5px x 5px;
}

.dropdown-content {
  border-radius: 5px;
  background: #fff;
  color: rgba(0,0,0,.8);
  border: none;
  font-size: 100%;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 100%;
}

.borough-select-label {
  color: white;
}

.search-bar {
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: auto;
}

label{
  position: relative;
}


.court-list {
  display: grid;
  grid-gap: 2em;
}

.court-item-wrapper {
  display: flex;
  height: 9rem;
  width: 90vw;
  border: 2px solid black;
  border-radius: 5px;
  border: solid;
  border-color: rgb(34, 34, 34);
  background: rgb(21, 20, 20);
}

.court-item-image {
  height: 100%;
  width: 90px;

  object-fit: cover;
  border-radius: 5px 0px 0px 5px;
}

.court-card-info {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  line-height: 1.5;
  /* height: 100%; */
  width: 100%;
  background: rgb(21, 20, 20);
  color: white;
  margin-left: 5px;
  padding: 0.5rem;
}

.court-item-trains {
  margin: 2px;
}

.court-item-condition-activity {
  display: flex;
  justify-content: space-between;
}

.court-item-condition {
  align-self: flex-start;
}

.court-item-activity {
  align-self: flex-end;
  margin-right: 10px;
}

.court-card-name {
  color: white;
}

.court-thumbnail-image {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

.description {
  position: relative;
}

.map-container-wrapper {
  display: grid; 
  grid-template-rows: .1fr .25fr;
  align-items: center;
  height: 100%;
  
}

#map {
  width: 100%;
  height: 50%;
}


.leaflet-container {
  height: 35vh;
  width: 100%;
  border-radius: 5px;
  border-color: black;
}

.court-map-spacer {
  display: grid;
}

.court-items-container {
  margin-left: 5em;
}

.ui {
  justify-content: space-evenly;
}

#court-card {
  height: 1vh;
  width: 50%;
  margin-top: 20px;
}


 #court-item-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-template-columns: auto;
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
 }


.detail-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  height: 92vh;
  justify-content: space-between;
  align-content: flex-start;
}  

.court-name {
  align-self: center;
  margin: 0px;
  font-family: 'Alfa Slab One', cursive;
  color: rgb(215, 215, 215);
  text-shadow: 1px 7px 2px rgb(0, 0, 0), 0 0 25px rgb(124, 124, 124), 0 0 5px rgb(4, 33, 255);
  padding: 5px 5px 5px 5px;
}

.court-details {
  display: flex;
  flex-direction: column;
  /* grid-template-rows: .25fr 1fr; */
  text-align: center;
  align-items: center;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  height: 38vh;
  width: 100%;
  color: rgb(240, 240, 240);
}

.court-address {
  align-self: center;
  margin: 0px;
}

.court-detail-headers {
  display: flex;
  color: white;
  font-family: 'Permanent Marker', cursive;
  padding: 10px 10px;
  margin-top: 5px;
  font-size: 20px;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  align-items: center;
  justify-content: center;
  transition: transform 250ms;
}

.court-detail-trains {
  font-size: 18px;
  margin: 0px;
}

.court-detail-headers:hover {
  transform: translateY(-10px);
}

.court-detail-hoopers-reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}


.court-specs {
  align-self: center;
  display: flex;
  flex-direction: column;
  color: white;
  width: 80%;
  height: 200px;
  align-items: center;
  justify-content: space-between;
  margin: 5px 5px 5px 5px;
  padding: auto;
  /* border: solid rgb(58, 58, 58); */
  border: solid rgb(43, 43, 43);
  box-shadow: 5px 5px rgb(29, 29, 29);
  border-radius: 10px 10px;
  border-width: 2px;
  background: black;
  padding: 10px 10px 10px 10px;
}

.court-specs-items {
  margin: 5px;
  align-self: center;
}

.interact-with-court {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-evenly;
  width: 100%;
}

.court-interactions {
  background: black;
  color: white;
  border: solid 2px rgb(184, 184, 184);
  box-shadow: 0 3px #999;
}

.court-interactions:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#comment-button {
  background: black;
  border-radius: 50%;
  font-size: 25px;
  padding: 10px 10px;
}

.detail-image {
  width: 100%;
  height: 36vh;
  object-fit: cover;
}

.detail-icons {
  font-family: "Permanent Marker";
}


.court-modal-container {
  display: flex;
  flex-direction: column;
  height: 80%;
  align-items: center;
  justify-content: space-between;
} 

#close-reviews-btn {
  margin: 15px;
}

.other-hoopers-header {
  display: flex;
  color: white;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
  align-items: center;
  justify-content: center;
}

.other-hoopers-box::-webkit-scrollbar {
  display: none;
}

.other-hoopers-2 {
  display: flex;
  flex-direction: column;
  /* background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png"); */
  height: 75vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
  

.other-hoopers-2::-webkit-scrollbar {
  display: none;
}

.hoopers-reviews-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(172, 172, 172);
  height: 50px;
  width: 100px;
  border-radius: 10px;
}

/* .hoopers {
  margin-left: 20px;
}

.reviews {
  margin-right: 20px;
} */

.player-card {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 25vh;
  width: 75%;
  border: 2px solid black;
  border-radius: 5px;
  border: solid;
  border-color: rgb(34, 34, 34);
  background: rgb(21, 20, 20);
}

.player-card-image {
  height: 100%;
  width: 100%;
}

.player-card-info {
  background: white;
}


/* .other-hoopers-box {
  display: grid; 
  width: 100%;
  height: 60vh;
  grid-template-rows: 1fr 5fr ;
  background-color: black;
  overflow-y: scroll;
  scrollbar-color: white; 
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px rgb(209, 210, 220);
  align-items: center;
  text-align: center;
} */

.review-card {
  height: 25vh;
  background: black;
}

.review-card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}
.review-button {
  display: flex;
  align-self: flex-end;
}


.review-header {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
}


.review-list {
  /* background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png"); */
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  overflow-y: scroll;
}


.signup-wrapper {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}


.signup-box {
  position: relative;
  display: block;
  height: 30%;
  width: 30%;
  margin: 0 auto;
  top: 25%;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  justify-content: space-between;
}

.signup-form {
  display: flex;
  flex-direction: column;
  /* width: 400px; */
  margin: 0 auto;
  padding: 0 1rem 1rem;
  margin-top: 4px;
  font-size: larger;
  text-align: center;
  justify-content: center;
}

.fav-wrapper {
  display: grid;
  /* grid-template-rows: .1fr 3fr;  */
  height: 100vh;
  background: black;
  align-items: center;
}

#fav-header {
  background: black;
  font-size: 35px;
}

.all-favs {
  display: grid;
  justify-content: center;
  align-items: center; 
  grid-template-columns: auto;
  grid-gap: 1rem;
  padding: 0 2rem 2rem;
  margin-bottom: 5px;
  background: black;
  height: 82vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.fav-card-container {
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.no-favs {
  color: white;
}

.fav-card {
  display: grid;
  grid-template-rows: 3fr 1fr;
  height: fit-content;
  width: 75%;
  border: 2px solid black;
  border-radius: 5px;
  border: solid;
  border-color: rgb(34, 34, 34);
  background: rgb(21, 20, 20);
}

.fav-image-box {
  height: 100%;
  width: 100%;
}

.fav-image {
  height: 100%;
  width: 100%;
}

.fav-name {
  color: white;
}

.fav-card-text {
  color: white;
  margin: auto;
}

.delete-fav-button {
  background: black;
  border: none;
  color: white;
}

.home-courts-header {
  color: white;
  top: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.activity-indicator {

}

.hot-indicator {
  color: red;
}

.decent-indicator {
  color: orange;
}

.chill-indicator {
  color: yellow;
}

.slow-indicator {
  color: green;
}

@media screen and (min-width: 1030px) {

  .map-container-wrapper {
    display: grid; 
    grid-template-rows: .1fr .25fr;
    align-items: center;
    height: 100%;
    width: 70rem;
    align-self: center;
  }
  .court-item-wrapper {
    display: flex;
    height: 9rem;
    width: 70rem;
    border: 2px solid black;
    border-radius: 5px;
    border: solid;
    border-color: rgb(34, 34, 34);
    background: rgb(21, 20, 20);
  }
}